azure-functions
azure-storage-blob
azure-data-tables    # if you need it elsewhere, optional
# azure-identity  <- optional; if you add it, managed identity is used automatically
# force install Fri Dec 12 18:55:55 IST 2025
